.DS_Store
node_modules/
vue-firestore/
myfirebase-cli/
old/
dist/
docs/
framework/
public/static/
public/index.html
functions/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tests/unit/coverage/
.vscode/