/* Fonts */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Variables */


/* @import "variables"; */


/*VueMaterial css*/

@import '~vue-material/dist/components/mdAvatar/index.css';
@import '~vue-material/dist/components/mdBackdrop/index.css';
@import '~vue-material/dist/components/mdButton/index.css';
@import '~vue-material/dist/components/mdCard/index.css';
@import '~vue-material/dist/components/mdCore/index.css';
@import '~vue-material/dist/components/mdIcon/index.css';
@import '~vue-material/dist/components/mdLayout/index.css';
@import '~vue-material/dist/components/mdList/index.css';
@import '~vue-material/dist/components/mdMenu/index.css';
@import '~vue-material/dist/components/mdSelect/index.css';
@import '~vue-material/dist/components/mdSidenav/index.css';
@import '~vue-material/dist/components/mdSpeedDial/index.css';
@import '~vue-material/dist/components/mdSubheader/index.css';
@import '~vue-material/dist/components/mdTabs/index.css';
@import '~vue-material/dist/components/mdToolbar/index.css';
@import '~vue-material/dist/components/mdWhiteframe/index.css';
@import '~vue-material/dist/components/mdSwitch/index.css';
@import '~vue-material/dist/components/mdInputContainer/index.css';
@import '~vue-material/dist/components/mdSnackbar/index.css';
@import '~vue-material/dist/components/mdDialog/index.css';
@import '~vue-material/dist/components/mdTable/index.css';
@import '~vue-material/dist/components/mdSpinner/index.css';
@import '~vue-material/dist/components/mdFile/index.css';

/*Global css*/

.push-down {
    margin-top: 15px;
}

.container {
    margin-top: 15px;
}

.overlay {
    z-index: 9000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.flex-spinner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}