/* Fonts */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Variables */


/* @import "variables"; */


/* Vuetify css*/

@import '~vuetify/dist/vuetify.css';

/*Global css*/

.push-down {
    margin-top: 15px;
}

.container {
    margin-top: 15px;
}

.overlay {
    z-index: 9000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.flex-spinner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}